.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Wrapper{
  background:black;
  padding: 10px;
  border-radius: 10%;
  box-shadow:0 1px 4px 0 rgba(0, 0, 0, 0.5);
}


.Input-wrapper{
  display:flex;
  justify-content:space-between;
  width:250px;
  align-items: center;
}
.Input-wrapper input{
  border-radius:5%;
  border: 0;
  width: 150px;
  padding: 6px;
  height: 20px;
  margin: 20px;
}

.Input-wrapper button{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 0;

}
.inputYazi{
  font-size: 15px;
}
.addButton{
  font-size:15px;
 
}