.Item{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: 180px;
    height: 20px;
    border: 1px solid white;
    border-radius: 2px;
    padding: 10px;
    background-color: purple;
    align-items: center;

}

.Item p{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
.Item button{
    width: 20px;
    height: 20px;
    border-radius:30px;
    padding-right:10px;
    outline: none;
}
.deleteButton{
    font-size: 15px;
    padding-bottom: 15px;
}